.quotes {
  li {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote {
    background: var(--clr-primary-700);
    color: var(--clr-neutral-200);
    text-align: left;
    border-radius: var(--br);
    padding: 2rem;
    height: 100%;
  }

  img {
    width: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  .quote {
    margin-top: 2rem;
  }

  .status {
    color: var(--clr-primary-300);
  }

  .name {
    font-weight: 800;
  }
}
