.ratings {
  li {
    color: var(--clr-primary-700);
    background: var(--clr-neutral-200);
    font-weight: 800;
    padding: 0.5rem;
    border-radius: var(--br);
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;

    &::before {
      content: "";
      width: 100px;
      height: 1rem;
      margin: 0 auto;
      display: block;
      background-image: url(../images/icon-star.svg);
      margin-bottom: 0.5rem;
      background-repeat: space;
    }
  }
}
